<h1>My Goals</h1>
<hr>

<div class="container">
  <div class="row">
    <app-goal-form></app-goal-form>
  </div>
</div>

<div class="container">

  <!-- 
    
    A DIRECTIVE is a class that changes either the appearance and the behaviour of html element or changes the structure of
    a template, by adding or removing elements.

    We have two types of directives.

    1. Structural directives.
      - Change the structure of the template

    2. Attribute directives.
      - Change the appearance and the behaviours of the elements.


    *ngFor is a structural directive.
    
    Here we have a directive that is meant to loop through the list of goals array and assign each a temporary variable called goal.
    We then display each goal variable as a list element.

    The attribute i = index registers the position index of each
    list item in the loop.
  -->
  <div class="row" *ngFor='let goal of goals; let i = index'>
    <div class="row">
      <!-- 
      Below we add the | date pipe that transforms the date object to
      a simple month, day/date and year format.
      
      We can also chain pipes. In this case we chain the completeDate
      property with the uppercase pipe.
    -->
      <h4 id="{{i}}" appStrikeThrough>{{goal.id}}. {{goal.name}} - Due {{goal.completeDate | date | uppercase}}</h4>

      <!--
      Below we create a button where by if we click it we want it
      to trigger the toggleDetails function that will take in the
      index of the particular goal.

      This is an example of Output Property binding. Where by our output is a clicked bound to the toggleDetail function.
    -->
      <button class="btn btn-primary" (click)="toggleDetails(i)">Toggle Details</button>
    </div>
    <div class="row" *ngIf="goal.showDescription">
      <!--
      Below we add the app-goal-details selector that will be 
      responsible for  displaying the details of our goals.

      We then pass in the goal to be displayed using the 
        `[goal]=goal`
      syntax.

      Here we are working with Angular's Input property capabilities
      where can pass data to child components from our views.

      In this case we have the `goal` that we pass from the main
      goal component to the goal-details component.

      This is made possible through the @Input decorator that we use in the goal-details component. Connecting the child with the parent.


      To make the Output binding property work we have to add the
      *ngIf directive to our child component that check the boolean
      state of the goal showDescription property.

      Cont..from Goals.ts

      This leads me to believe that the actual default of showDescription is true. Such that if goal.showDescription is true the description is displayed.

      If it is false. It is not displayed.

      More info in goal.component.ts.

      For Output property binding and Event emission from child
      component to parent component, we need to add the (isComplete)
      = "completeGoal($event, i)"

      Remember here that isComplete is an instance of the
      EventEmitter class.

      Here we capture the event being transmitted using the ()
      parenthesis.

      When we receive this event we call the completeGoal function and pass in the special $event variable. This variable is a placeholder for values that are emitted with the event. In this case a boolean. 

      We can now define the completeGoal function in the goal.component.ts that will execute once it receives the boolean emitted from the child element.

      Below we replaced the completeGoal with deleteGoal.
    -->
      <app-goal-details [goal]="goal" (isComplete)="deleteGoal($event, i)"></app-goal-details>
    </div>
  </div>
</div>

<!-- 
  Another structural directive is the *ngIf that adds some
  conditional logic to out templates.

  In this case it allow us to show or hide the following paragraph
  based on the number of goals we have defined in our goals array.
-->

<p *ngIf="goals.length > 3">You are too legit to quit. Keep things manageable though.</p>
