<h1>My Goals</h1>
<p>Finish {{today}} by Wednesday.</p>

<ul>
  <!-- 
    *ngFor is a structural directive.
    
    A directive is a class that changes either the appearance and
    the behaviour of html element or changes the structure of a
    template, by adding or removing elements.

    Here we have a directive that is meant to loop through the list of goals array and assign each a temporary variable called goal.
    We then display each goal variable as a list element.
  -->
  <div *ngFor='let goal of goals'>
    <li>{{goal.id}}. {{goal.name}}</li>
    <!--
      Below we add the app-goal-details selector that will be 
      responsible for  displaying the details of our goals.

      We then pass in the goal to be displayed using the 
        `[goal]=goal`
      syntax.
    -->
    <app-goal-details [goal]="goal"></app-goal-details>
  </div>
</ul>

<!-- 
  Another structural directive is the *ngIf that adds some
  conditional logic to out templates.

  In this case it allow us to show or hide the following paragraph
  based on the number of goals we have defined in our goals array.
-->

<p *ngIf="goals.length > 3">You are too legit to quit. Keep things manageable though.</p>
