<div class="container">
  <div class="row">
    <form action="">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required="required">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" cols="30" rows="4" class="form-control" required="required"></textarea>
      </div>
      <div class="form-group">
        <label for="complete">Completion</label>
        <input type="date" class="form-control" id="completeBy" required="required">
      </div>
    </form>
  </div>
</div>
