<h1>My Goals</h1>
<p>Finish {{today}} by Wednesday.</p>

<ul>
  <!-- 
    *ngFor is a structural directive.
    
    A directive is a class that changes either the appearance and
    the behaviour of html element or changes the structure of a
    template, by adding or removing elements.

    Here we have a directive that is meant to loop through the list of goals array and assign each a temporary variable called goal.
    We then display each goal variable as a list element.
  -->
  <li *ngFor='let goal of goals'>{{goal}}</li>
</ul>
